@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

.heading {
color: green;
margin: 0 auto;
font-family: 'Castoro', serif;
}

.card {
    margin: 5% 0%;
}

.card-img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    margin: 0;
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-body {
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
}

footer {
  background-color: lightgrey;
  color: white;
  min-height: 80px;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.socil-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 40px;
  height: 40px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 30px;
  line-height: 15px;
  text-align: center;
  color: #fafafa;
  background: lightgreen;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #6db9d9;
}
