.logo {
    margin: 2px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(190, 196, 195, 0.5);
}

.flashes {
line-height: 3;
}

.btn-small {
margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px
}
