{% extends "base.html" %} 
{% block content %}

<div class="container add-book-bg">


<h3 class="text-center">Add Books</h3>

<div class="row">
<form class="col col-xs col-sm col-md-8 needs-validation" method="POST" action="{{ url_for('add_book')}}">
    <select id="list_name" name="list_name" class="validate custom-select" required>
      <option value="" disabled selected>Choose List</option>
      {% for list in lists %}
      <option value="{{ list.list_name }}">{{ list.list_name }}</option>
      {% endfor %}
    </select>
  
<div class="form-group">
				<i class="fas fa-pencil"></i>
				<input id="book_name" name="book_name" type="text" class="validate" required/>
				<label for="book_name">Book Name</label>
		
		</div>
		<div class="form-group">
			
				<i class="fas fa-user-circle prefix"></i>
				<input id="author" name="author" type="text" class="validate" required/>
				<label for="author">Author</label>
			
		</div>
		<div class="form-group">
			
				<i class="fas fa-pencil prefix "></i>
				<input id="keywords" name="keywords" type="text" class="validate" required/>
				<label for="keywords">Keywords</label>
			
		</div>
        <div class="form-group">
			
				<i class="fas fa-pencil"></i>
				<input id="book_image" name="book_image" type="text" placeholder="(please provide the link for image if you have one)"/>
				<label for="book_image">Book Image</label>
			
		</div>
		<div class="form-group">
			
				<i class="fas fa-pencil prefix light-green-text text-darken-1"></i>
				<textarea id="description" name="description" class="materialize-textarea"></textarea>
				<label for="description">Description</label>
			
		</div>
        <button type="submit" class="btn-large light-green darken-1">
        Add a book <i class="fas fa-plus-square"></i>
        </button>
    
</form>
</div>

</div>

{% endblock %}