{% extends "base.html" %} 
{% block content %}

<div class="container">

<div class="row center mb-4">
  <div class="col col-xs-12 col-sm-6 col-md-6">
  <!-- card -->
    <div class="card">
<!-- card image -->
    <div class="view overlay">
    <img src="{{ book.book_image }}" class="img-fluid card-img card-img-top" onerror="this.src='static/images/default_img.png';this.classname='img-fluid'"/>
     <a href="#!">
     <div class="mask rgba-white-slight"></div>
     </a>
    </div>
    <!-- card content -->
         <div class="card-body">
         <!-- card title -->
        <h5 class="card-title">{{ book.book_name }}</h5>
        <p>Author : {{ book.author }}</p>
        <p><em>Added by: {{ book.created_by| capitalize }}</em></p>
        <p>Tags: {{ book.keywords }}</p>
        <p>Description: {{ book.description }}</p>
        {% if session.user|lower == book.created_by|lower %}
        <a
          href="{{ url_for('delete_book', book_id=book._id)}}"
          class="btn btn-primary"
          >Delete</a
        >
        <a
          href="{{ url_for('edit_book', book_id=book._id)}}"
          class="btn btn-success"
          >Edit</a
        >
        {% endif %}
        <a href="{{ url_for('add_book')}}" class="btn btn-primary btn-md">Add to my book list</a>
      </div>
    </div>
    <!-- card -->
  </div>

</div>
</div>

{% endblock %}