{% extends "base.html" %}
{% block content %}

{% for book in books %}
{{ book.list_name }}<br>
{{ book.book_name }}<br>
{{ book.author }}<br>
{{ book.keyword }}<br>
{{ book.description }}<br>
{% endfor %}

<ul class="collapsible">
{% for book in books %}
    <li>
      <div class="collapsible-header white-text light-green darken-1"><i class="fas fa-caret-down"></i>
      <strong>{{ book.book_name }} by {{ book.author }}</strong>
      </div>
      <div class="collapsible-body">
      <strong>on {{ book.list_name }}</strong>
      <p>{{ book.description }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>

{% endblock%}