{% extends "base.html" %} 
{% block content %}

<h3 class="headings">
  All Books
</h3>

<!-- book card -->
{% if books|length > 0 %} 
<div class="container">
<div class="row">
{% for book in books %}
  <div class="col col-sm col-md-3">
    <div class="card">
        <img src="{{ book.book_image }}" class="img-fluid" alt="Responsive image" />
      <div class="card-body">
        <h5 class="card-title">{{ book.book_name }}</h5>
        <p>Author : {{ book.author }}</p>
        <p><em>added by: {{ book.created_by| capitalize }}</em></p>
        {% if session.user|lower == book.created_by|lower %}
        <a
          href="{{ url_for('delete_book', book_id=book._id)}}"
          class="btn btn-primary"
          >Delete</a
        >
        <a
          href="{{ url_for('edit_book', book_id=book._id)}}"
          class="btn btn-success"
          >Edit</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %} 
</div>

{% else %}
<h3 class="text-danger">No Books found</h3>
</div>
{% endif %} 

{% endblock%}
