{% extends "base.html" %} 
{% block content %}

<!-- Jumbotron -->
<div class="card card-image jumbotron">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h3 class="heading">Welcome </h3>
      <h2 class="card-title my-4 py-2"> Keep your own journal of books </h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5"> Make a record of the books you read </p>
      <a class="btn btn-light" href="{{ url_for('register') }}"><i class="fas fa-book-open"></i> Join Now </a>

    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="container">
 <div class="row py-4">
 <h3 class="heading text-center">
  Recommended Books
</h3>
 </div>



<!-- book card -->
{% if books|length > 0 %} 
<!-- card deck-->
<div class="card-deck row">
{% for book in books %}
  <div class="col col-xs-12 col-sm-6 col-md-4">
  <!-- card -->
    <div class="card mb-4">
<!-- card image -->
    <div class="view overlay">
    <img src="{{ book.book_image }}" class="img-fluid card-img card-img-top" onerror="this.src='static/images/default-img.png';this.classname='img-fluid'"/>
     <a href="#!">
     <div class="mask rgba-white-slight"></div>
     </a>
    </div>
    <!-- card content -->
         <div class="card-body">
         <!-- card title -->
        <h5 class="card-title">{{ book.book_name }}</h5>
        <p>Author : {{ book.author }}</p>
        <p><em>added by: {{ book.created_by| capitalize }}</em></p>
        <a href="{{ url_for('book_details', book_id=book._id)}}" class="btn btn-light btn-md">details</a>
      </div>
    </div>
    <!-- card -->
  </div>
  {% endfor %} 
  <!-- card deck-->

{% else %}
<h3 class="text-danger">No Books found</h3>
</div>
{% endif %} 
</div>

{% endblock%}
